.footer-{
    background-color: #dfdfdf;
}
.butt-{
padding: 16px;
padding-right: 100px;
border: none;
background-color: #c4c4c4;
}
.fbicon{
    color: #385185;
    font-size: 2rem;

}
.instaicon{
    color: #8a3ab9;
    font-size: 2rem;

}